@page
@model KoiShowManagement.RazorWebApps.Pages.RegistrationPages.CreateModel

@{
    ViewData["Title"] = "Create";
    if (ViewData["Error"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["Error"]
        </div>
    }
    string role = User.Claims.FirstOrDefault(c => c.Type == "Role").Value;
    if (role != "Manager")
    {
        Response.Redirect("/PermissionAlert");
    }

}

<h1>Create</h1>

<h4>Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Registration.Competition.CompetitionName" class="control-label"></label>
                <select asp-for="Registration.CompetitionId" class ="form-control" asp-items="ViewBag.CompetitionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Animal.AnimalName" class="control-label"></label>
                <select asp-for="Registration.AnimalId" class ="form-control" asp-items="ViewBag.AnimalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Registration.User.Username" class="control-label"></label>
                <select asp-for="Registration.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Registration.CheckInStatus" class="control-label"></label>
                <input asp-for="Registration.CheckInStatus" class="form-check-input" type="checkbox" />
                <span asp-validation-for="Registration.CheckInStatus" class="text-danger"></span>   
            </div>
            <div class="form-group">
                <label asp-for="Registration.RegistrationDate" class="control-label"></label>
                <input asp-for="Registration.RegistrationDate" class="form-control" />
                <span asp-validation-for="Registration.RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.ApprovalStatus" class="control-label"></label>
                <input asp-for="Registration.ApprovalStatus" class="form-check-input" type="checkbox" />
                <span asp-validation-for="Registration.ApprovalStatus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Registration.Notes" class="control-label"></label>
                <input asp-for="Registration.Notes" class="form-control" />
                <span asp-validation-for="Registration.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Image" class="control-label"></label>
                <input asp-for="Registration.Image" type="file" class="form-control" />
                <span asp-validation-for="Registration.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.HealthStatus" class="control-label"></label>
                <input asp-for="Registration.HealthStatus" class="form-control" />
                <span asp-validation-for="Registration.HealthStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Color" class="control-label"></label>
                <input asp-for="Registration.Color" class="form-control" />
                <span asp-validation-for="Registration.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Shape" class="control-label"></label>
                <input asp-for="Registration.Shape" class="form-control" />
                <span asp-validation-for="Registration.Shape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Pattern" class="control-label"></label>
                <input asp-for="Registration.Pattern" class="form-control" />
                <span asp-validation-for="Registration.Pattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
