@page
@model KoiShowManagement.RazorWebApps.Pages.RegistrationPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Registration.RegistrationId" />
            <div class="form-group">
                <label asp-for="Registration.CompetitionId" class="control-label"></label>
                <select asp-for="Registration.CompetitionId" class="form-control" asp-items="ViewBag.CompetitionId"></select>
                <span asp-validation-for="Registration.CompetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.AnimalId" class="control-label"></label>
                <select asp-for="Registration.AnimalId" class="form-control" asp-items="ViewBag.AnimalId"></select>
                <span asp-validation-for="Registration.AnimalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.UserId" class="control-label"></label>
                <select asp-for="Registration.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Registration.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.CheckInStatus" class="control-label"></label>
                <input asp-for="Registration.CheckInStatus" class="form-check-input" type="checkbox" />
                <span asp-validation-for="Registration.CheckInStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.RegistrationDate" class="control-label"></label>
                <input asp-for="Registration.RegistrationDate" class="form-control" />
                <span asp-validation-for="Registration.RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.ApprovalStatus" class="control-label"></label>
                <input asp-for="Registration.ApprovalStatus" class="form-check-input" type="checkbox" />
                <span asp-validation-for="Registration.ApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Notes" class="control-label"></label>
                <input asp-for="Registration.Notes" class="form-control" />
                <span asp-validation-for="Registration.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Image" class="control-label"></label>
                <input asp-for="Registration.Image" class="form-control" />
                <span asp-validation-for="Registration.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.HealthStatus" class="control-label"></label>
                <input asp-for="Registration.HealthStatus" class="form-control" />
                <span asp-validation-for="Registration.HealthStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Color" class="control-label"></label>
                <input asp-for="Registration.Color" class="form-control" />
                <span asp-validation-for="Registration.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Shape" class="control-label"></label>
                <input asp-for="Registration.Shape" class="form-control" />
                <span asp-validation-for="Registration.Shape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.Pattern" class="control-label"></label>
                <input asp-for="Registration.Pattern" class="form-control" />
                <span asp-validation-for="Registration.Pattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration.IsDeleted" class="control-label"></label>
                <input asp-for="Registration.IsDeleted" class="form-control" />
                <span asp-validation-for="Registration.IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
